.top-buffer { margin-top:100px; }

.row-spacing { margin-top:10px; }

th, tr{
    white-space: nowrap;
}
table {
    font-size: 80%;
}



/*Spacing for table rows */
.name-width {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}
.type-width {
    max-width: 59px;
    min-width: 59px;
    width: 59px;
}
.div-width {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}



