{% macro create_filter_section(panel_id) -%}
<div id="{{ panel_id }}" class="row no-pad">
    {{ create_filter("Name") }}
    {{ create_filter("Type") }}
    {{ create_filter("Division") }}
    {{ create_filter("Year") }}
    {{ create_filter("Season") }}
    {{ create_filter("Night") }}
    {{ create_filter("Gender") }}
</div>
<div class="col-xs-12" style="height:10px;"></div>
<div class="row">
    <div class="col-sm-12">
        <input class="btn btn-primary" id="ApplyFilter" type="button" value="Apply Filter" onclick="apply_filter('{{ panel_id }}');" />
        <input class="btn btn-primary" id="ResetFilter" type="button" value="Reset Filter" onclick="reset_filter('{{ panel_id }}');" />
    </div>
</div>
{% endmacro -%}

{% macro create_filter(name) -%}
    <div class="col-lg-2 col-sm-3 col-xs-6">
	    <select id="{{ name }}" multiple="multiple">
	    </select>
	</div>
{%- endmacro %}