{% from 'helpers.html' import create_filter_panel with context %}

{% extends "stats_base.html" %}
{% block content %}
    <div class="container">
        <div class="row top-buffer"></div>
        <div class="panel-group">
            {{ create_filter_panel('hockey_player') }}
            <div class="row row-spacing">
            	
            </div>
            <div class="table-responsive">
                <table id="player-table" class="table table-bordered table-striped table-condensed" data-page-navigation=".pagination" data-page-size="10" data-limit-navigation="5">
                    <thead>
                        <tr>
                            <th class="name-width">Name</th>
                            <th class="type-width">Type</th>
                            <th class="div-width">Division</th>
                            <th data-type="numeric">Year</th>
                            <th>Season</th>
                            <th class="night-width">Night</th>
                            <th>Gender</th>
                            <th data-type="numeric">GP</th>
                            <th data-type="numeric">G</th>
                            <th data-type="numeric">A</th>
                            <th data-type="numeric">P</th>
                            <th data-type="numeric">+/-</th>
                            <th data-type="numeric">PIM</th>
                            <th data-type="numeric">PPG</th>
                            <th data-type="numeric">SO_G</th>
                            <th data-type="numeric">SO_A</th>
                            <th data-type="numeric">SO_Pct</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="42" class="text-center">
                                <ul class="pagination">
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}