<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prostars - Stats</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">

    <!-- Custom CSS For Scrolling Nav -->
    <link href={{ url_for("static", filename="css/scrolling-nav.css") }} rel="stylesheet">

    <!-- Datatable CSS -->
    <link href={{ url_for("static", filename="css/datatables.min.css") }} rel="stylesheet" type="text/css">

    <!-- Multiselect CSS -->
    <link href={{ url_for("static", filename="css/bootstrap-multiselect.css") }} rel="stylesheet" type="text/css">

   <link href={{ url_for("static", filename="css/custom.css") }} rel="stylesheet">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href={{ url_for('index') }}#page-top>Prostars</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page contents generated in seperate file -->
    {% block content %}
    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="loadingDialog" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loading...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar"style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src={{ url_for("static", filename="js/jquery-2.2.0.min.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ url_for("static", filename="js/bootstrap.js") }}></script>

    <!-- Scrolling Nav JavaScript -->
    <script src={{ url_for("static", filename="js/jquery.easing.min.js") }}></script>
    <script src={{ url_for("static", filename="js/scrolling-nav.js") }}></script>

    <!-- DataTable JavaScript -->
    <script src={{ url_for("static", filename="js/datatables.min.js") }}></script>

    <!-- Bootstrap Multiselect JavaScript -->
    <script src={{ url_for("static", filename="js/bootstrap-multiselect.js") }}></script>

    <script src={{ url_for("static", filename="js/custom.js") }}></script>

    <!-- Load footable -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('table').DataTable();
            $(function(){
                show_players();
            });             
        });
    </script>
</body>
</html>
