<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prostars - Stats</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href={{ url_for("static", filename="css/scrolling-nav.css") }} rel="stylesheet">

    <!-- Footable CSS -->
    <link href={{ url_for("static", filename="css/footable.core.css") }} rel="stylesheet" type="text/css">

    <!-- Multiselect CSS -->
    <link href={{ url_for("static", filename="css/bootstrap-multiselect.css") }} rel="stylesheet" type="text/css">

   <link href={{ url_for("static", filename="css/custom.css") }} rel="stylesheet">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href={{ url_for('index') }}#page-top>Prostars</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row top-buffer"></div>
        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#collapse1">
                    <div class="panel-heading">
                        <h3>Filter</h3>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Type</h4>
                                <select id="Type" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Division</h4>
                                <select id="Division" multiple="multiple">
                                </select>
                            </div> 
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Year</h4>
                                <select id="Year" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Season</h4>
                                <select id="Season" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Night</h4>
                                <select id="Night" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <h4>Gender</h4>
                                <select id="Gender" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4>Search</h4>
                                <input id="filter" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body ">
                    <h1>Statistics</h1>
                    <div style="overflow-x:auto;">
                    <table class="table table-bordered table-hover toggle-circle-filled" data-page-navigation=".pagination" data-page-size="15" data-limit-navigation="5" data-filter="#filter">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Division</th>
                                <th data-type="numeric">Year</th>
                                <th>Season</th>
                                <th>Night</th>
                                <th>Gender</th>
                                <th>Name</th>
                                <th data-type="numeric">GP</th>
                                <th data-type="numeric">G</th>
                                <th data-type="numeric">A</th>
                                <th data-type="numeric">P</th>
                                <th data-type="numeric">+/-</th>
                                <th data-type="numeric">PIM</th>
                                <th data-type="numeric">PPG</th>
                                <th data-type="numeric">SO_G</th>
                                <th data-type="numeric">SO_A</th>
                                <th data-type="numeric">SO_Pct</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="42" class="text-center" id="loading-image">
                                <img src={{ url_for('static', filename='images/loading.gif') }} style="width:128px;height:128px;">
                            </td>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="42" class="text-center">
                                    <ul class="pagination">
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src={{ url_for("static", filename="js/jquery.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>

    <!-- Scrolling Nav JavaScript -->
    <script src={{ url_for("static", filename="js/jquery.easing.min.js") }}></script>
    <script src={{ url_for("static", filename="js/scrolling-nav.js") }}></script>

    <!-- Footable JavaScript -->
    <script src={{ url_for("static", filename="js/footable.js") }}></script>
    <script src={{ url_for("static", filename="js/footable.sort.js") }}></script>
    <script src={{ url_for("static", filename="js/footable.paginate.js") }}></script>
    <script src={{ url_for("static", filename="js/footable.filter.js") }}></script>

    <!-- Bootstrap Multiselect JavaScript -->
    <script src={{ url_for("static", filename="js/bootstrap-multiselect.js") }}></script>

    <script src={{ url_for("static", filename="js/custom.js") }}></script>

    <!-- Load footable -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('table').footable();
            $(function(){
                load_default();
            });                        
        });
    </script>
</body>
</html>
